#!/bin/bash
set -e
PGPASSWORD={{ PASS_POSTGRES_FOR_DB }} psql -v ON_ERROR_STOP=1 -h localhost --username postgres<<-EOSQL
CREATE DATABASE {{ POSTGRES_SAAS_DB }};
EOSQL

PGPASSWORD={{ PASS_POSTGRES_FOR_DB }} psql -v ON_ERROR_STOP=1 -h localhost --username postgres --dbname {{ POSTGRES_SAAS_DB }}<<-EOSQL
CREATE ROLE {{ POSTGRES_SAAS_ROLE }} LOGIN CREATEDB;
ALTER ROLE {{ POSTGRES_SAAS_ROLE }} ENCRYPTED PASSWORD 'POSTGRES_SAAS_ROLE_PASSWORD';
GRANT ALL PRIVILEGES ON DATABASE {{ POSTGRES_SAAS_DB }} TO {{ POSTGRES_SAAS_ROLE }};
CREATE SCHEMA IF NOT EXISTS saas AUTHORIZATION {{ POSTGRES_SAAS_ROLE }};
CREATE SCHEMA IF NOT EXISTS orchestrator AUTHORIZATION {{ POSTGRES_SAAS_ROLE }};
EOSQL
