[
  {kernel, [

  ]},
  {rabbit, [
    {tcp_listeners, [5672]},
    {tcp_listen_options, [binary, {packet,raw},
                                  {reuseaddr,true},
                                  {backlog,128},
                                  {nodelay,true},
                                  {exit_on_close,false},
                                  {keepalive,false}]},
    {default_user, <<"RABBITMQ_USER">>},
    {default_pass, <<"RABBITMQ_PWD">>},
    {default_vhost, <<"/sensu">>},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]}
  ]}
].