{
  "connector.class": "io.confluent.connect.elasticsearch.ElasticsearchSinkConnector",
  "connection.url": "http://elasticsearch:9200",
  "tasks.max": "1",
  "topics.regex": "message-.*-proto.*",
  "type.name": "_doc",
  "transforms": "toElasticSearch",
  "transforms.toElasticSearch.type": "com.saas.connect.transform.MessageToElasticSearch$Value",
  "transforms.toElasticSearch.message.type": "message"
}
